 
<div >
<div class="title-container container">
  <div>
    <h1 class="display-4">{{title}}</h1>
    <p class="lead" id = "description">{{description}}</p>
  </div>
  {{#if avatar}}
  <div class="blogpost-jumbotron jumbotron jumbotron-fluid" style = 'background-image: url({{avatar}});'>
  {{else}}
  <div class="blogpost-jumbotron jumbotron jumbotron-fluid" style = 'background-image: url(https://picsum.photos/1000/1000);'></div>
  {{/if}}
</div>

{{!-- blog post --}}
<section  class="light blog-text">
	<div class="container py-2">
     <h1 id = 'blog-title'>{{title}}<span class="badge badge-secondary">New</span></h1>
     <p style="white-space: pre-wrap">{{blog_text}}</p>
  </div>
</section>
</div>

{{!-- comments  --}}

<section>

    <div class="container comment-container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4 comment-content">
                <h2 id="comment-h2">Comments</h2>
                {{#each comments as |comment|}}
                <div class="comment mt-4 text-justify float-left">
                    {{#if avatar}}
                    <img src="{{user.avatar}}" alt="" class="rounded-circle comment-avatar" width="40" height="40">
                    {{else}}
                      <img src="/imgs/placeholder image.png" alt="" class="rounded-circle comment-avatar" width="40" height="40">
                      {{/if}}
                    <h4>{{comment.user.name}}</h4>
                    <p>{{comment.message}}</p>
                    <span id="date-tag">{{comment.date_created}}</span>
                    <a data-id='{{comment.id}}' id ='delete-button' type="button" id="post">Delete</a>
                    </div>
                {{/each}}
            </div>
             


       
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form class="comment-poster"id="algin-form">
                    <div class="comment-form-group form-group">
                        <h4 id="comment-h4">Leave a comment</h4>
                        <label id='comment-label' for="message">Message</label>
                        <textarea name="msg" id="message" cols="30" rows="5" class="form-control">
                        </textarea>
                    </div> 
                    <div class="form-group">
                        <button data-id='{{id}}' id ='post-button' type="button" class="btn">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>
        {{#if comments.length}}
           



        {{/if}}
    </div>
</section>


<script src='/js/comment.js'
