<!-- Loop over each object in the projects array -->

      
	  
    
   
	  
	  
	  
	  <div class="jumbotron p-3 p-md-5 text-white  bg-dark jumbotron-fluid">
        <div class="container hero-text col-md-6 px-0" >
          <h1 class="display- card-title">Tech Talk</h1>
          <p class="lead my-3">{{description}}</p>
		  {{#unless logged_in}}
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/profile" role="button">Login to Blog</a>
          </p>
		  {{/unless}}
        </div>
      </div>






<section id="gallery">
  <div class="container">
    <div class="row">
		{{#each blogs as |blog|}}
    <div class="col-lg-6 mb-6">
     <article class="postcard light blue" style='min-height: 500px'>
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue">{{blog.title}}</h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>{{format_date blog.date_created}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{blog.description}}</div>
				<ul class="postcard__tagbox name-and-view">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>
					    {{blog.user.name}}
					</li>
					<li class="tag__item play blue">
						<a href="/post/{{blog.id}}"><i class="fas fa-play mr-2"></i>view full post</a>
					</li>
				</ul>
			</div>
		</article>
    </div>
	{{/each}}
	
    </div>
  </div>
</div>
</section>













{{!--  Other log cards/ possiblity --}}
{{!-- <div class="card-deck blog-display-home" style="max-height: 250px; max-width: 400px">
	 
       <div class="col col-sm card">
		   <div>
         <img class="display-img card-img-top" src="https://picsum.photos/1000/1000" alt="Card image cap" style="max-height: 250px; max-width: 400px">
         <div class="card-body">
		 </div>
           <h5 class="card-title">{{blog.title}}</h5>
           <p class="card-text">{{blog.description}}</p>
         </div>
         <div class="card-footer">
           <small class="text-muted">{{format_date blog.date_created}}</small>
         </div>
	     <ul class="postcard__tagbox name-and-view">
		    <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{blog.user.name}}
		    </li>
		    <li class="tag__item play blue">
			 <a href="/post/{{blog.id}}"><i class="fas fa-play mr-2"></i>view full post
			 </a>
		    </li>
	     </ul>
	   </div>
     {{/each}}
	
</div> --}}


      {{!-- blog cards --}}

{{!-- <section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Featured Blogs</div>
 {{#each blogs as |blog|}}
		<article class="postcard light blue" style = "max-height: 450px">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue">{{blog.title}}</h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>{{format_date blog.date_created}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{blog.description}}</div>
				<ul class="postcard__tagbox name-and-view">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>{{blog.user.name}}</li>
					<li class="tag__item play blue">
						<a href="/post/{{blog.id}}"><i class="fas fa-play mr-2"></i>view full post</a>
					</li>
				</ul>
			</div>
			
		</article>
    {{/each}}
	</div>
</section> --}}

