


  
<div class="profile-card card mb-3" style = "width: 73rem; max-height: 28rem">
  {{#if avatar}}
    <img src="{{avatar}}" class="rounded" style = "width: 50%;" id= 'card-avatar' alt="...">
  {{else}}
   <img src="/imgs/placeholder image.png" class="rounded" style = "width: 50%;" id= 'card-avatar' alt="...">
  {{/if}}
     <div class="card-body">
        <h1 class="card-title">Welcome, {{name}}! </h1>
        <button id="myBtn">Create New Blog</button>
     </div>
</div>
{{!-- blog submission form --}}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class = 'new-blog-form'>
  <div class="form-outline mb-4">
    <input type="text" id="blog-name" class="form-control" />
    <label class="form-label" for="form6Example3">Title</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="blog-description" class="form-control" />
    <label class="form-label" for="form6Example4">Description</label>
  </div>

    <div class="form-outline mb-4">
     <div>
       <button id="upload_widget" class="cloudinary-button">
        Upload Cover Photo
      </button>
      </div>
    </div>


  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" data-id="blog-body"id="blog-text" rows="4"></textarea>
    <label class="form-label" for="form6Example7">Article</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Submit Blog</button>
  </form>
  </div>

</div>



{{#if blogs.length}}
  <section class="light">
	<div class="container py-2">
		<div class=" featured-text h1 text-center text-dark" id="pageHeaderTitle">Featured Blogs</div>
 {{#each blogs as |blog|}}
		<article class="postcard light blue">
				<img class="postcard__img" src="{{avatar}}" alt="Image Title" />
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="{{blog.id}}">{{blog.title}}</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>{{format_date blog.date_created}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{blog.description}}</div>
				<ul class="postcard__tagbox name-and-view">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>{{blog.user.name}}</li>
					<li class="tag__item play blue">
						<a href="/post/{{blog.id}}"><i class="fas fa-play mr-2"></i>view full post</a>
					</li>
				</ul>
			</div>
		</article>
    {{/each}}
	</div>
</section>
  </div>
  {{/if}}
</div>




<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> </script>
<script src="/js/profile.js"></script>
<script src="/js/edit.js"></script>


